.root {
  background: var(--background);
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid var(--accent-7);
}

.container {
  align-items: center;
  display: flex;
  height: 3.5rem;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  position: relative;
}

.link {
  align-items: center;
  display: flex;
  font-weight: 600;
  padding: 0.5rem;
  &:hover {
    background: var(--blue);
    color: var(--background);
  }
}

.icon {
  display: grid;
  padding: 0.25rem;
  place-items: center;
}

.menu {
  color: var(--foreground);
  align-items: center;
  border-radius: 3px;
  border: 1px solid var(--accent-7);
  display: flex;
}

.list {
  background: var(--background);
  border-bottom-left-radius: 3px;
  border-bottom: 1px solid var(--accent-7);
  border-left: 1px solid var(--accent-7);
  position: absolute;
  right: 0;
  top: 3.5rem;
  z-index: 100;
}

.item {
  display: grid;
}

.break {
  border-top: 1px solid var(--accent-7);
  border-right: unset;
  border-bottom: unset;
  border-left: unset;
  margin-left: 0.75rem;
}

.button {
  color: var(--foreground);
  font-weight: 600;
  font-size: 1rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  &:hover {
    background: var(--blue);
    color: var(--background);
  }
}

.toggle {
  margin-left: auto;
  width: auto;
}
