.root {
  display: flex;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  margin: 0.5rem 0;
  cursor: pointer;
  border: 1px solid var(--accent-7);
  &:hover {
    border-color: var(--accent-5);
  }
  &__active {
    @extend .root;
    cursor: unset;
    border: unset;
  }
}

.header {
  font-size: 0.75rem;
  padding: 0.25rem;
  color: var(--accent-2);
}

.link,
.button {
  color: var(--foreground);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.25rem;
  display: inline-flex;
  &:hover {
    text-decoration: underline;
  }
}

.container {
  flex: 1 1 0%;
}

.content {
  padding: 0.25rem;
}

.heading {
  display: grid;
  width: 100%;
  padding: 0.25rem;
}

.base {
  padding: 0.25rem;
}

.icon {
  display: grid;
  padding: 0.25rem;
  place-items: center;
}

.body {
  padding: 0.25rem;
}
